wishlist-link .wk-button {
  --icon-size: 24px;
  --icon-stroke: #1f1a19;
  --icon-stroke-width: 1.75px;

  height: 100%;
  padding: 10px;
}

wishlist-link .wk-selected {
  --icon-fill: transparent;
}

wishlist-link .wk-button .wk-pill {
  --size: 22px;

  bottom: 2px;
  left: 5px;
  border: 2px solid white;
}

wishlist-button .wk-floating {
  z-index: 1;
}

wishlist-button .wk-button,
wishlist-button .wk-floating .wk-button {
  --icon-size: 18px;
  --icon-stroke: black;
}

wishlist-button wk-button:not(.wk-floating) .wk-button {
}

wishlist-button .wk-floating .wk-button {
}

wishlist-button .wk-button {
  min-height: 46px;
  color: black;
  margin-top: 1em;
  padding: 0;
}

wishlist-page .wk-page {
  padding: 2em 1em;
}

wishlist-page .wk-title {
}

wishlist-product-card .wk-image {
  aspect-ratio: 1 / 1;
}

wishlist-product-card .wk-submit-button {
  font-family: inherit;
  border-radius: 3px;
}

wishlist-product-card .wk-meta {
}

wishlist-product-card .wk-product-title {
  text-align: center;
  margin-bottom: 4px;
}

wishlist-product-card .wk-vendor {
}

wishlist-product-card .wk-price {
  font-size: 14px;
  justify-content: center;
}

wishlist-product-card .wk-current-price.wk-sale {
}

wishlist-page .wk-grid {
  --columns: 1;
}

@media (min-width: 400px) {
  wishlist-page .wk-grid {
    --columns: 2;
  }
}

@media (min-width: 700px) {
  wishlist-page .wk-grid {
    --columns: 3;
  }
}

@media (min-width: 900px) {
  wishlist-page .wk-grid {
    --columns: 4;
  }
}

wishlist-buy-all {
  display: none;
}
