wishlist-link .wk-button {
  --icon-size: 20px;
  --icon-stroke-width: 1.75px;
  --icon-stroke: black;

  flex-direction: row-reverse;
  margin-right: 20px;
  gap: 8px;
}

@media only screen and (max-width: 767px) {
  wishlist-link .wk-button {
    justify-content: flex-start;
    height: 44px;
    width: 36px;
    margin: 0;
    padding-right: 5px;
  }
    
  wishlist-link .wk-text {
    display: none;
  }
}

wishlist-button .wk-floating {
  z-index: 1;
}

wishlist-button .wk-button,
wishlist-button .wk-floating .wk-button {
  --icon-size: 18px;
  --icon-stroke: black;
}

.wk-icon svg, .wk-icon svg:not(:root):not(:root) {
  fill: var(--icon-fill);
}

wishlist-product-card .wk-image {
  aspect-ratio: 1 / 1;
}

wishlist-product-card .wk-submit-button {}

wishlist-product-card .wk-meta {}

wishlist-product-card .wk-product-title {}

wishlist-product-card .wk-vendor {}

wishlist-product-card .wk-price {}

wishlist-page .wk-page {}

wishlist-page .wk-title {}

wishlist-page .wk-grid {
  --columns: 1;
}

@media (min-width: 400px) {
  wishlist-page .wk-grid {
    --columns: 2;
  } 
}

@media (min-width: 700px) {
  wishlist-page .wk-grid {
    --columns: 3;
  } 
}

@media (min-width: 900px) {
  wishlist-page .wk-grid {
    --columns: 4;
  } 
}

wishlist-buy-all {
  display: none;
}