wishlist-link .wk-button {
  --icon-size: 18px;
  --icon-stroke: black;
  --icon-stroke-width: 2px;
  --icon-fill: transparent;

  margin: 0 10px 0 5px;
}

wishlist-link .wk-button .wk-pill {
  --size: 16px;

  top: -6px;
  background: #deced3;
  color: #616161;
  font-size: 11px;
  font-weight: 700;
}

wishlist-button .wk-floating {
  z-index: 1;
}

wishlist-button .wk-button,
wishlist-button .wk-floating .wk-button {
  --icon-size: 18px;
  --icon-stroke: black;
}

wishlist-button wk-button:not(.wk-floating) .wk-button:hover {
  color: inherit;
}

wishlist-button .wk-floating .wk-button {
}

wishlist-save-for-later .wk-button {
  --icon-size: 14px;
  --icon-stroke: black;
}

wishlist-product-card .wk-image {
  aspect-ratio: 1 / 1;
}

wishlist-product-card .wk-submit-button {
}

wishlist-product-card .wk-meta {
  color: #616161;
  text-align: center;
}

wishlist-product-card .wk-product-title {
}

wishlist-product-card .wk-vendor {
}

wishlist-product-card .wk-price {
  margin-top: 1em;
  color: #616161;
  font-size: 1.25em;
  justify-content: center;
}

wishlist-product-card .wk-unit-price {
  font-size: 80%;
}

wishlist-product-card .wk-unit-price-money::before {
  content: "(";
}

wishlist-product-card .wk-unit-price-unit::after {
  content: ")";
}

wishlist-page .wk-page {
  margin-top: 4.5em;
  margin-bottom: 4.5em;
}

wishlist-page .wk-title {
}

wishlist-page .wk-grid {
  --columns: 1;
}

@media (min-width: 400px) {
  wishlist-page .wk-grid {
    --columns: 2;
  }
}

@media (min-width: 700px) {
  wishlist-page .wk-grid {
    --columns: 3;
  }
}

@media (min-width: 900px) {
  wishlist-page .wk-grid {
    --columns: 4;
  }
}

wishlist-buy-all {
  display: none;
}
