wishlist-link .wk-button {
  --icon-size: 20px;
  --icon-stroke: black;

  position: absolute;
  top: 11px;
  right: 70px;
  padding: 10px;
}

@media screen and (min-width: 720px) {
  wishlist-link .wk-button {
    right: 114px;
  }
}

@media screen and (min-width: 1024px) {
  wishlist-link .wk-button {
    top: 36px;
  }
}

wishlist-button .wk-floating {
  z-index: 1;
}

wishlist-button .wk-button,
wishlist-button .wk-floating .wk-button {
  --icon-size: 18px;
  --icon-stroke: black;
}

wishlist-button wk-button:not(.wk-floating) .wk-button {
}

wishlist-button .wk-floating .wk-button {
}

wishlist-page .wk-page {
  padding: 1em;
}

wishlist-page .wk-login-callout,
wishlist-page .wk-wishlist-empty-callout {
  margin-bottom: 2em;
}

wishlist-page .wk-login-callout a,
wishlist-page .wk-wishlist-empty-callout a {
  color: inherit;
}

wishlist-product-card .wk-image {
  aspect-ratio: 1 / 1;
}

wishlist-product-card .wk-submit-button {
}

wishlist-product-card .wk-meta {
  font-size: 14px;
  font-weight: 700;
}

wishlist-product-card .wk-price {
  margin-top: 0.23438rem;
}

wishlist-page .wk-grid {
  --columns: 1;
}

@media (min-width: 400px) {
  wishlist-page .wk-grid {
    --columns: 2;
  }
}

@media (min-width: 700px) {
  wishlist-page .wk-grid {
    --columns: 3;
  }
}

@media (min-width: 900px) {
  wishlist-page .wk-grid {
    --columns: 4;
  }
}
