wishlist-link .wk-button {
  --icon-size: 18px;
  --icon-stroke: black
}

wishlist-button .wk-floating {
  z-index: 1;
}

wishlist-button .wk-button,
wishlist-button .wk-floating .wk-button {
  --icon-size: 18px;
  --icon-stroke: black
}

wishlist-page .wk-page {}

wishlist-product-card {
  --image-aspect-ratio: 1 / 1;
}

wishlist-product-card .wk-submit-button {}

wishlist-product-card .wk-meta {}

wishlist-product-card .wk-product-title {}

wishlist-product-card .wk-vendor {}

wishlist-product-card .wk-price {}
